<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <!-- <Property name="LOG_PATTERN">%p#%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}#%c{1}#%m%n</Property> -->
        <Property name="LOG_PATTERN"> %d [%t] %-5p [%c]  -  %m%n</Property>
        <Property name="APP_LOG_ROOT">/Users/vishalt/Desktop/erpa_home/eise/applogs/</Property>
    </Properties>
    <Appenders>
        <RollingFile name="appLog"
            fileName="${APP_LOG_ROOT}/application.log"
            filePattern="${APP_LOG_ROOT}/application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
             	<TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.aafes.settlement" additivity="false">
            <AppenderRef ref="appLog" />
        </Logger>
 
        <Root level="ALL">
            <AppenderRef ref="appLog" />
        </Root>
    </Loggers>
</Configuration>